*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}
body {
    font-family: "Montserrat", sans-serif;
    font-family: 400;
    font-size: 14px;
    font-style: normal;
    background-color: #fafafa;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    overflow: hidden;
}

a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 365px;
    width: 100%;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}
.button {
    border: none;
    outline: none;
}

/*------------------------------------Обнуляющий стиль-------------------------------------*/
/*------------------------------------ШАПКА САЙТА-------------------------------------*/
.btn {
    position: fixed;
    opacity: 0;
    bottom: 85px;
    right: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    z-index: 2;
}
.up {
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #fd9222;
    background-color: #fd9222;
    opacity: 0.7;
    font-weight: 100;
    line-height: normal;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    color: white;
}
.up a {
    width: 20px;
    height: 20px;
}
.icon-foo {
    stroke-width: 1.4gipx;
    opacity: 0.7;
    stroke: white;
}
.icon-foo:hover {
    stroke: black;
}
.up:hover {
    background-color: #fd9222;
    opacity: 1;
    color: black;
}

.container-hedader {
    display: flex;

    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 14px;
}

.main-mobile {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 4px;
}
.hedader-logo {
    display: flex;
}

.hedader-logo-link {
    color: #111;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: -0.03em;
}
.hedader-logo-link span {
    font-style: italic;
}

.hedader-social {
    display: none;
}
.main-list {
    display: none;
}
.burger-icon-btn {
    border: none;
    outline: none;
    background: none;
}
/*----------------------БУРГУР---------------------------*/
.wrap-burger {
    display: flex;
    position: relative;
    flex-direction: column;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    transition: top 0.5s;
    background: #1e1823;
}

.show-menu {
    top: 0;
}
.container-burger {
    display: flex;
    min-width: 335px;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
}
.list-burger {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    color: #fafafa;
}

.item-burger {
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon {
    position: absolute;
    color: #575068;
    border: none;
    outline: none;
    background: none;
    position: absolute;
    top: 0%;
    right: 0%;
    font-size: 18px;
    font-weight: 100;
    cursor: pointer;
    padding: 15px;
}
.alink {
    color: #fafafa;
}

@media screen and (min-width: 768px) {
    .wrap-burger {
        display: none;
    }
    .container-hedader {
        min-width: 734px;
    }
    .main-list {
        display: flex;
        align-items: flex-start;
        gap: 24px;
    }
    .main-item a {
        color: #111;
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: -0.02em;
    }

    .hedader-social {
        display: block;
    }
    .social-list {
        display: flex;
        align-items: center;
        gap: 14px;
    }

    .icon-link {
        stroke: #111;
    }
    .header-burger {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .container-hedader {
        max-width: 1170px;
    }
    .main-mobile {
        margin-right: 412px;
    }
}
/*-------------------------------BANER МОБИЛЬНАЯ ВЕРСИЯ---------------------------------*/
.baner {
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    width: 335px;
    height: 621px;
    background-color: rgba(17, 17, 17, 0.6);
    background-image: linear-gradient(rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4)), url(../images/chocolate_main.jpg);
    border-radius: 30px;
    padding-top: 395px;
}
.container-baner {
    max-width: 335px;
}

.baner-title {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.03;
}
.baner-btn {
    display: flex;
    gap: 14px;
    padding: 32px 0 32px 0;
}
.btn-baner-buy {
    display: flex;
    padding: 12px 28px;
    align-items: flex-start;
    gap: 14px;
    border-radius: 100px;
    background: #fd9222;
    border: none;
    color: #fff;
    font-weight: 600;
}
.btn-baner-made {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 28px;
    border-radius: 100px;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    font-weight: 600;
    align-items: center;
}
.baner-scroll {
    display: flex;
    align-items: center;
    gap: 12px;
}
.title-scroll {
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.03em;
}
.baner-scroll-btn {
    display: flex;
    width: 28px;
    height: 28px;
    fill: #fff;
    border-radius: 50%;
    border: none;
    justify-content: center;
    align-items: center;
}

.icon-scroll {
    fill: #fd9222;
}

@media screen and (min-width: 768px) {
    .baner {
        display: flex;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin: 0 auto;
        width: 100%;
        max-width: 750px;
        height: 890px;
        background-color: rgba(17, 17, 17, 0.6);
        background-image: linear-gradient(rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4)),
            url(../images/chocolate_main.tab.jpg);
        border-radius: 30px;
        padding-top: 671px;
    }

    .baner-title {
        width: 484px;
        font-size: 28px;
    }
    .btn-baner-made {
        padding: 14px 28px;
    }
    .btn-baner-buy {
        padding: 14px 28px;
    }
    .baner-btn-tab {
        display: flex;
        justify-content: space-between;
        padding: 32px 0 40px 0;
        min-width: 720px;
    }
    .baner-btn {
        padding: 0;
    }
    .container-baner {
        margin: 0;
    }
}
@media screen and (min-width: 1200px) {
    .baner {
        display: flex;
        background-repeat: no-repeat;
        background-position: center;
        max-width: 1200px;
        background-color: rgba(17, 17, 17, 0.6);
        background-image: linear-gradient(rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4)),
            url(../images/chocolate_main.desctop.jpg);
        border-radius: 30px;
    }
    .container-baner {
        margin: 0 40px;
    }
    .baner-btn-tab {
        width: 1056px;
    }
}
/*-------------------------------INFO БЛОК МОБИЛЬНАЯ ВЕРСИЯ---------------------------------*/

.info-block {
    padding-top: 80px;
    min-width: 365px;
}
.container-info-block {
    display: flex;
    background: #1e1823;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
}
.title-info-block-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.title-info-block-item {
    display: flex;
    flex-direction: column;
    gap: 22px;
    width: 308px;
    height: 244px;
}
.icon-info {
    display: flex;
    width: 62px;
    height: 62px;
    position: relative;
    border-radius: 365px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: transparent;
    align-items: center;
    justify-content: center;
}

.title-info-block {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
}
.title-info-block + p {
    color: rgba(255, 255, 255, 0.7);
    line-height: normal;
    letter-spacing: -0.02em;
}
.icon-info-block {
    fill: #fd9222;
}
@media screen and (min-width: 768px) {
    .container-info-block {
        padding: 50px 32px 50px 32px;
    }
    .title-info-block-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        align-content: flex-start;
        gap: 44px 88px;
    }
}
@media screen and (min-width: 1200px) {
    .container-info-block {
        background: #1e1823;
    }
    .title-info-block-list {
        margin: 0 30px;
        gap: 44px 76px;
    }
}
/*-------------------------------TASTE МОБИЛЬНАЯ ВЕРСИЯ---------------------------------*/

.taste {
    padding-top: 80px;
}
.tittle-section {
    color: #111;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}
.tittle-taste {
    width: 283px;
    margin: 0 auto;
    margin-bottom: 32px;
}
.tittle-taste span {
    color: #fd9222;
}

.teste-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.teste-item {
    width: 335px;
    height: 270px;
    border-radius: 15px;
    border: 1px solid #fd9222;
    background: #fff;
    padding: 32px 50px 16px 50px;
    position: relative;
}
.orang {
    background: #fd9222;
}
.dark {
    background: #1e1823;
    border: none;
}
.icon-taste {
    position: absolute;
    top: 14px;
    right: 14px;
    stroke: #fafafa;
}
.icon-orange {
    stroke: #fd9222;
}
.teste-img {
    width: 236px;
    height: 176px;
    margin: 0 auto;
    margin-bottom: 16px;
}
.taste-subtitle {
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    position: absolute;
    left: 28px;
    bottom: 28px;
}
.subtitle-dark {
    color: #111;
}
.teste-item-tap {
    display: none;
}
@media screen and (min-width: 768px) {
    .container-taste {
    }
    .teste-list {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .tittle-taste {
        width: 411px;
        font-size: 24px;
    }
    .teste-item-tap {
        display: block;
    }
}

@media screen and (min-width: 1200px) {
    .container-taste {
    }
    .teste-list {
        width: 1136px;
        margin: 0 20px;
        gap: 32px;
    }
    .teste-item {
        width: 260px;
        height: 270px;
        padding: 28px 23px 82px 23px;
    }
    .teste-img {
        width: 214px;
        height: 160px;
    }
}

/*------------------------------- MADE МОБИЛЬНАЯ ВЕРСИЯ---------------------------------*/
.made {
    padding-top: 80px;
}

.img-wrap {
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    width: 335px;
    height: 621px;
    background-color: rgba(17, 17, 17, 0.6);
    background-image: linear-gradient(rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4)), url(../images/video.jpg);
    border-radius: 15px;
    margin-bottom: 20px;
    position: relative;
}
.icon-made {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}
.made-title {
    margin-bottom: 32px;
}
.made-title span {
    color: #fd9222;
}
.made-subtitle {
    max-width: 307px;
    color: #111;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.33;
    margin-bottom: 20px;
}
.made-wrap {
    background: #fff;
    padding: 20px 14px;
    margin: 0 auto;
    border-radius: 15px;
}
.made-img {
    border-radius: 15px;
    position: relative;
}
.made-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
}
.made-item {
    width: 291px;
    position: relative;
    padding-left: 16px;
}
.made-item-text {
    color: #111;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
}
.icon-made-item {
    position: absolute;
    top: 4px;
    left: 0;
}
@media screen and (min-width: 768px) {
    .made {
        padding-top: 100px;
    }
    .container-made {
    }
    .img-wrap {
        width: 600px;
        height: 400px;
        background-color: rgba(17, 17, 17, 0.6);
        background-image: linear-gradient(rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4)), url(../images/video.jpg);
    }

    .made-title {
        margin-bottom: 50px;
    }
    .made-list {
        flex-direction: column;
        align-items: flex-start;
        gap: 18px;
    }
    .made-item {
        width: 550px;
    }
    .made-wrap {
        display: flex;
        flex-direction: column;
        width: 614px;
        height: 356px;
        padding: 32px;
    }
    .made-subtitle {
        min-width: 350px;
    }
}
@media screen and (min-width: 1200px) {
    .container-made {
    }
    .inline-made {
        display: flex;
        flex-direction: row;
    }
    .img-wrap {
        width: 600px;
        height: 400px;
    }
    .made-wrap {
        width: 516px;
        height: 400px;
    }
    .made-item {
        width: 425px;
    }
}
/*------------------------------- PRODUCTS МОБИЛЬНАЯ ВЕРСИЯ---------------------------------*/
.products {
    padding-top: 80px;
}

.tittle-section-subtitle {
    margin-bottom: 2px;
}
.products-title {
    margin-bottom: 22px;
}
.products-title span {
    color: #fd9222;
}
.products-list {
    display: flex;
    flex-direction: column;
    gap: 22px;
}
.products-item {
    display: flex;
    padding: 32px 52px 32px 53px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 1px solid rgba(17, 17, 17, 0.1);
    background: #fff;
}
.products-text {
    color: rgba(17, 17, 17, 0.7);
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -0.02em;
    margin-bottom: 18px;
}
.products-btn {
    display: block;
    margin: 0 auto;
    padding: 8px 20px;
    border-radius: 100px;
    border: 1px solid rgba(17, 17, 17, 0.1);
    background: #fafafa;
    color: #111;
    font-family: inherit;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
@media screen and (min-width: 768px) {
    .products {
        padding-top: 100px;
    }
    .products-title {
        margin-bottom: 50px;
    }
    .products-list {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .container-products {
    }
}
@media screen and (min-width: 1200px) {
    .container-products {
    }
    .products-list {
        width: 1136px;
        gap: 18px;
    }
    .products-item {
        width: 270px;
        height: 364px;
    }
}
/*------------------------------- SELLERS МОБИЛЬНАЯ ВЕРСИЯ---------------------------------*/

.sellers {
    padding-top: 80px;
}
.tittle-sellers {
    margin-bottom: 32px;
}
.tittle-sellers span {
    color: #fd9222;
}
.sellers-item {
    width: 344px;
    height: 464px;
}

.sellers-cover-wrap {
    position: relative;
    overflow: hidden;
}
.sellers-img {
    border-radius: 15px 15px 0px 0px;
    width: 335px;
}
.sellers-text-wrap {
    display: flex;
    background: linear-gradient(165deg, rgba(253, 253, 255, 0.1) 3.97%, rgba(8, 2, 21, 0) 109.76%);
    backdrop-filter: blur(7.5px);
    border-radius: 15px 15px 0px 0px;
    position: absolute;
    transform: translateY(100%);
    transition: transform 300ms linear;
    top: 0;
    padding: 187px 20px;
}
.sellers-item:hover .sellers-text-wrap {
    transform: translateY(0);
}
.sellers-cover-text {
    color: #fafafa;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: -0.02em;
}
.sellers-subtitle {
    border-radius: 0px 0px 15px 15px;
    border-right: 1px solid rgba(17, 17, 17, 0.1);
    border-bottom: 1px solid rgba(17, 17, 17, 0.1);
    border-left: 1px solid rgba(17, 17, 17, 0.1);
    background: #fff;
    padding: 24px 56px;
}
.sellers-item-tab {
    display: none;
}
sellers-item-none {
    display: none;
}

@media screen and (min-width: 768px) {
    .sellers {
        padding-top: 100px;
    }
    .sellers-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 16px;
    }
    .sellers-item-tab {
        display: block;
    }
    .sellers-text-wrap-tab {
        display: none;
    }
    .tittle-sellers {
        margin-bottom: 50px;
    }
    .sellers-item-none {
        display: none;
    }
}
@media screen and (min-width: 1200px) {
    .container-products {
    }
    .sellers-item {
        width: 368px;
        align-items: center;
    }
    .sellers-img {
        width: 368px;
        overflow: hidden;
        object-fit: cover;
    }
    .sellers-list {
        width: 1136px;
        gap: 16px;
    }
    .sellers-subtitle {
        text-align: center;
    }
    .sellers-item-none {
        display: block;
    }
}

/*------------------------------- LOVED МОБИЛЬНАЯ ВЕРСИЯ------------------------------*/

.loved {
    padding-top: 80px;
    padding-bottom: 80px;
}

.tittle-loved {
    margin-bottom: 72px;
}
.tittle-section span {
    color: #fd9222;
}
.list-loved {
    margin: 0 auto;
}
.item-loved {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.wrap-img-tittle-text {
    position: relative;
    width: 335px;
    height: 200px;
    border-radius: 15px;
    border: 1px solid rgba(17, 17, 17, 0.1);
    background: #fff;
    box-shadow: 0px 9.049px 100px 0px rgba(17, 17, 17, 0.03);
}
.img-loved {
    position: absolute;
    top: -40px;
    left: 40%;
    border-radius: 50%;
}
.title-loved {
    color: #111;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 133.333% */
    padding-top: 58px;
}
.text-loved {
    color: rgba(17, 17, 17, 0.7);
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.28px;
    padding: 24px 18px 42px 18px;
}
.btn-loved {
    display: flex;
    padding: 12px 28px;
    background-color: transparent;
    border-radius: 100px;
    border: 1px solid #fd9222;
    font-weight: 600;
    line-height: normal;
    margin-top: 32px;
    color: #111;
}
.item-loved-tab {
    display: none;
}
.item-loved-desktop {
    display: none;
}
@media screen and (min-width: 768px) {
    .loved {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .container-loved {
        padding-top: 80px;
    }
    .item-loved-tab {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .list-loved {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
    }
    .item-loved {
        width: calc((100% - 16px) / 2);
    }
    .item-loved-desktop {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .container-loved {
    }
    .item-loved-desktop {
        display: inline-flex;
    }
    .list-loved {
        width: 1136px;
    }
    .item-loved {
        width: calc((100% - 32px) / 3);
    }
    .tittle-loved {
        padding-top: 100px;
        padding-bottom: 41px;
    }
}

/*------------------------------- FOOTER МОБИЛЬНАЯ ВЕРСИЯ------------------------------*/

.container-footer {
    display: flex;
    height: 601px;
    padding: 32px 20px;
    flex-direction: column;
    align-items: flex-start;
    background: #1e1823;
}

.tittle-footer {
    width: 300px;
    color: #fff;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.48px;
    text-transform: none;
    text-align: start;
    margin: 0;
    margin-bottom: 32px;
}
.tittle-footer span {
    color: #fd9222;
}
.footer-address {
    margin-bottom: 32px;
}
.footer-address-text {
    color: #fff;
    font-weight: 500;
    line-height: 18px; /* 128.571% */
    margin-bottom: 14px;
}
.footer-address-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

.footer-address-link {
    color: #fff;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.28px;
}

.footer-soc-text {
    color: #fff;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 128.571% */
    margin-bottom: 14px;
}
.footer-soc-list {
    display: flex;
    align-items: center;
    gap: 12px;
}

.icon-footer {
    stroke: #fafafa;
}
.footer-line {
    display: inline-block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    width: 100%;
    height: 0px;
    margin: 32px 0;
}
.footer-nav {
    margin-bottom: 32px;
}
.footer-nav-list {
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.footer-nav-link {
    color: #fff;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 114.286% */
    letter-spacing: -0.28px;
}
.footer-form {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}
.footer-input {
    display: flex;
    width: 207px;
    padding: 14px 18px;
    align-items: flex-start;
    gap: 40px;
    border-radius: 30px;
    border: 1.5px solid rgba(255, 255, 255, 0.15);
    background-color: transparent;
}
.footer-form-btn {
    display: flex;
    width: 120px;
    padding: 14px 26px;
    justify-content: center;
    align-items: center;
    gap: 14px;
    border-radius: 100px;
    background: #fd9222;
    border: none;
    color: #fff;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.footer-address-tab,
.footer-soc-tab {
    display: none;
}

@media screen and (min-width: 768px) {
    .container-footer {
        height: 291px;
        flex-wrap: wrap;
        flex-direction: row;
        padding: 50px 32px;
    }
    .tittle-footer {
        margin-right: 96px;
        margin-bottom: 0;
    }

    .footer-nav-list {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 14.5px 0;
    }
    .footer-nav-item-tab {
        display: none;
    }
    .footer-nav-list {
        gap: 16px;
        margin-right: 32px;
    }
    .footer-address-tab,
    .footer-soc-tab {
        display: block;
    }
    .footer-soc-tab {
        margin-right: 32px;
    }
    .footer-address,
    .footer-soc {
        display: none;
    }
    .footer-line {
        margin-top: 54px;
        margin-bottom: 32px;
    }
    .footer-input {
        width: 233px;
    }
    .footer-form-btn {
        width: 128px;
    }
}
@media screen and (min-width: 1200px) {
    .container-footer {
    }
    .tittle-footer {
        margin-right: 512px;
    }
    .footer-nav-list {
        margin-right: 358px;
    }
    .footer-input {
        width: 313px;
        height: 52px;
    }
    .footer-form-btn {
        border-radius: 100px;
        padding: 17px 40px;
        width: 137px;
        height: 52px;
    }
}
