*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}
body {
    font-family: "Montserrat", sans-serif;
    font-family: 400;
    font-size: 14px;
    font-style: normal;
    background-color: #fafafa;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    overflow: hidden;
}

a {
    text-decoration: none;
}

.container {
    max-width: 375px;
    margin: 0 auto;
    padding: 0 20px;
}
/*------------------------------------Обнуляющий стиль-------------------------------------*/
/*------------------------------------ШАПКА САЙТА-------------------------------------*/
.hedader {
}
.container-hedader {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 14px;
}

.main-mobile {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 4px;
}
.hedader-logo {
    display: flex;
}

.hedader-logo-link {
    color: #111;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: -0.03em;
}
.hedader-logo-link span {
    font-style: italic;
}
.header-burger {
}
.logo-icon {
}
.burger-icon {
}
/*
.main-list {
    display: flex;
    align-items: flex-start;
    gap: 24px;
}
.main-item a {
    color: #111;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.02em;
}

.hedader-social {
    
}
.social-list {
    display: flex;
    align-items: center;
    gap: 14px;
}
.social-item {

}
.social-item-link{

}
.icon-link {
    display: block;
}*/

/*-------------------------------BANER МОБИЛЬНАЯ ВЕРСИЯ---------------------------------*/
.baner {
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    width: 335px;
    height: 621px;
    background-color: rgba(17, 17, 17, 0.6);
    background-image: linear-gradient(rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4)), url(../images/chocolate_main.jpg);
    border-radius: 30px;
    padding-top: 395px;
}

.container-baner {
}
.baner-title {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.03;
}
.baner-btn {
    display: flex;
    gap: 14px;
    padding: 32px 0 32px 0;
}
.btn-baner-buy {
    display: flex;
    padding: 12px 28px;
    align-items: flex-start;
    gap: 14px;
    border-radius: 100px;
    background: #fd9222;
    border: none;
    color: #fff;
    font-weight: 600;
}
.btn-baner-made {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 28px;
    border-radius: 100px;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    font-weight: 600;
    align-items: center;
}
.baner-scroll {
    display: flex;
    align-items: center;
    gap: 12px;
}
.title-scroll {
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.03em;
}
.baner-scroll-btn {
    display: flex;
    width: 28px;
    height: 28px;
    fill: #fff;
    border-radius: 50%;
    border: none;
    justify-content: center;
    align-items: center;
}

    .icon-scroll {
        fill: #fd9222;
    }


/*-------------------------------INFO БЛОК МОБИЛЬНАЯ ВЕРСИЯ---------------------------------*/

.info-block {
    padding-top: 80px;
}
.container-info-block {
    display: flex;
    background: #1e1823;
    min-width: 375px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.title-info-block-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.title-info-block-item{
    display: flex;
    flex-direction: column;
    gap: 22px;
}
.icon-info{
    display: flex;
    width: 62px;
    height: 62px;
    position: relative;
    border-radius: 365px;
    border: 1px solid rgba(255, 255, 255, 0.50);
    background-color: transparent;
    align-items: center;
    justify-content: center;
}

.title-info-block {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
}
.title-info-block + p {
    color: rgba(255, 255, 255, 0.7);
    line-height: normal;
    letter-spacing: -0.02em;
}
.icon-info-block {
    fill: #fd9222; 
}


/*-------------------------------TASTE МОБИЛЬНАЯ ВЕРСИЯ---------------------------------*/

.taste {
    padding-top: 80px;
}
.tittle-section{
color: #111;
text-align: center;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 1.2;
letter-spacing: -0.03em;
text-transform: uppercase;
margin: 0 24px 32px 24px;
}
.tittle-taste{
    width: 283px;
    height: 72px;
    margin: 0 24px 32px 24px;
}
.tittle-taste span{
    color: #FD9222;
}
.container-taste {
   
}
.teste-list{
    display: flex;
    flex-direction: column;
    gap:20px;
}
.teste-item {
width: 335px;
height: 270px;
border-radius: 15px;
border: 1px solid #FD9222;
background: #FFF;
padding: 32px 50px 16px 50px;
position: relative;

}
.orang{
background: #FD9222;
}
.dark{
background: #1E1823;
border: none;
}
.icon-taste {
    position: absolute;
    top: 14px;
    right: 14px;
    stroke: #fafafa;
}
.icon-orange{
    stroke: #FD9222;
}
.teste-img{
    margin: 0 auto;
    margin-bottom: 16px;
}
.taste-subtitle {
color:#fff;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 1.3;
letter-spacing: -0.02em;
text-transform: uppercase;
position: absolute;
left: 28px;
bottom: 28px;
}
.subtitle-dark{
color: #111;
}

/*------------------------------- MADE МОБИЛЬНАЯ ВЕРСИЯ---------------------------------*/
.made {
    padding-top: 80px;
}
.container {
}
.container-made {
}

.img-wrap{
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    width: 335px;
    height: 621px;
    background-color: rgba(17, 17, 17, 0.6);
    background-image: linear-gradient(rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4)), url(../images/video.jpg);
    border-radius: 15px;
    margin-bottom: 20px;
    position: relative;
}
.icon-made{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%);
}

.made-title span {
    color: #FD9222;
}
.made-subtitle {
    max-width: 307px;
    color: #111;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.33;
    margin-bottom: 20px;
}
.made-wrap {
    background: #FFF;
    padding: 20px 14px;
    background-image: ("../images");
}
.made-img{
    border-radius: 15px;
    position: relative;
}
.made-list {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 18px;
}
.made-item {
    max-width: 291px;
    position: relative;
    padding-left: 16px;
}
.made-item-text {
    color: #111;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
}
.icon-made-item{
position: absolute;
top: 4px;
left: 0;
}

/*------------------------------- PRODUCTS МОБИЛЬНАЯ ВЕРСИЯ---------------------------------*/
.products {
    padding-top: 80px;
}
.container {
}
.container-products {
}
.tittle-section-subtitle{
    margin-bottom: 2px;
}
.products-title span{
    color: #FD9222;
}
.products-list {
    display: flex;
    flex-direction: column;
    gap:22px;
}
.products-item {
display: flex;
padding: 32px 52px 32px 53px;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 15px;
border: 1px solid rgba(17, 17, 17, 0.10);
background: #FFF;
}
.products-text {
    color: rgba(17, 17, 17, 0.70);
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -0.02em;
    margin-bottom: 18px;
}
.products-btn {
    display: block;
    margin: 0 auto;
    padding: 8px 20px;
    border-radius: 100px;
    border: 1px solid rgba(17, 17, 17, 0.10);
    background: #FAFAFA;
    color: #111;
    font-family: inherit;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
 /*------------------------------- SELLERS МОБИЛЬНАЯ ВЕРСИЯ---------------------------------*/

.sellers {
    padding-top: 80px;
}
.tittle-sellers {
    margin-bottom: 32px;
}
.tittle-sellers span{
    color: #FD9222;
}
.sellers-list {
}

.sellers-cover-wrap {
    position: relative;
    overflow: hidden;
}
.sellers-img {
    border-radius: 15px 15px 0px 0px;
}
.sellers-text-wrap {
    display: flex;
    background: linear-gradient(165deg, rgba(253, 253, 255, 0.10) 3.97%, rgba(8, 2, 21, 0.00) 109.76%);
    backdrop-filter: blur(7.5px);
    border-radius: 15px 15px 0px 0px;
    position: absolute;
    transform: translateY(100%);
    transition: transform 300ms linear;
    top: 0;
    padding: 187px 20px;
}
.sellers-item:hover .sellers-text-wrap {
    transform: translateY(0);
}
.sellers-cover-text {
    color: #FAFAFA;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: -0.02em;
}
.sellers-subtitle {
    border-radius: 0px 0px 15px 15px;
    border-right: 1px solid rgba(17, 17, 17, 0.10);
    border-bottom: 1px solid rgba(17, 17, 17, 0.10);
    border-left: 1px solid rgba(17, 17, 17, 0.10);
    background: #FFF;
    padding: 24px 56px;
}

/*------------------------------- LOVED МОБИЛЬНАЯ ВЕРСИЯ------------------------------*/

.loved {
    padding-top:80px;
    padding-bottom: 80px;
}

.container-loved {
}
.tittle-section {
    margin-bottom:72px;
}
.tittle-section span{
    color: #FD9222;;
}
.list-loved {
}
.item-loved {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.wrap-img-tittle-text{
    position: relative;
    width: 335px;
    height: 200px;
    border-radius: 15px;
    border: 1px solid rgba(17, 17, 17, 0.10);
    background: #FFF;
    box-shadow: 0px 9.049px 100px 0px rgba(17, 17, 17, 0.03);
}
.img-loved {
    position: absolute;
    top:-40px;
    left: 40%;
    border-radius: 50%;
}
.title-loved {
    color: #111;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 133.333% */
    padding-top: 58px;
}
.text-loved {
    color: rgba(17, 17, 17, 0.70);
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.28px;
    padding:24px 18px 42px 18px;
}
.btn-loved{
display: flex;
padding: 12px 28px;
background-color: transparent;
border-radius: 100px;
border: 1px solid #FD9222;
font-weight: 600;
line-height: normal;
margin-top: 32px;
color: #111;
}

/*------------------------------- FOOTER МОБИЛЬНАЯ ВЕРСИЯ------------------------------*/
.footer-mobaile{

}
.container {
}
.container-footer{
display: flex;
width: 375px;
height: 601px;
padding: 32px 20px;
flex-direction: column;
align-items: flex-start;
gap: 32px;
background: #1E1823;
}
.tittle-section {
}
.tittle-footer {
    width: 300px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.48px;
    text-transform: none;
    text-align: start;
    margin: 0;
}
.tittle-footer span{
    color: #FD9222;
}
.footer-address-text{
color: #FFF;
font-weight: 500;
line-height: 18px; /* 128.571% */
margin-bottom: 14px;
}
.footer-address-list {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 4px;
}
.footer-address-item {

}
.footer-address-link {
color: #FFF;
line-height: 18px; /* 128.571% */
letter-spacing: -0.28px;
}
.footer-soc {
}
.footer-soc-text{
color: #FFF;
font-style: normal;
font-weight: 500;
line-height: 18px; /* 128.571% */
margin-bottom: 14px;
}
.footer-soc-list {
    display: flex;
align-items: center;
gap: 12px;
}
.footer-soc-item {
}
.footer-soc-link {
    margin-bottom: 32px;
}
.icon-footer{
    stroke: #FAFAFA;
    
}
.footer-line{
    display: inline-block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    width: 335px;
    height: 0px;
    }
.footer-nav {
}
.footer-nav-list {
display: flex;
height: 152px;
flex-direction: column;
gap: 18px;
}
.footer-nav-item {
   
}
.footer-nav-link {
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 114.286% */
    letter-spacing: -0.28px;
}
.footer-form {
    display: flex;
align-items: flex-start;
gap: 8px;
}
.footer-input {
display: flex;
width: 207px;
padding: 14px 18px;
align-items: flex-start;
gap: 40px;
border-radius: 30px;
border: 1.5px solid rgba(255, 255, 255, 0.15);
background-color: transparent;
}
.footer-form-btn {
display: flex;
width: 120px;
padding: 14px 26px;
justify-content: center;
align-items: center;
gap: 14px;
border-radius: 100px;
background: #FD9222;
border: none;
color: #FFF;
text-align: center;
font-style: normal;
font-weight: 600;
line-height: normal;
}
